<link rel="stylesheet" href="/css/UserList.css">

<div class="container p-4">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="row">
                    <div class="col-10">
                        <div class="d-flex">
                            <input type="text" class="form-control m-2" name="username" placeholder="Username" value="{{username}}" />
                            <input type="text" class="form-control m-2" name="email" placeholder="Email" value="{{email}}" />
                            <div class="input-group m-2">
                                <button class="btn btn-dark" type="submit">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive rounded mb-3">
                <table class="data-tables table mb-0 tbl-server-info">
                    <thead class="text-uppercase text-center">
                    <tr>
                        <th></th>
                        <th>
                            Username
                            <button class="sort-button" data-sort="username" data-order="asc">&#9650;</button>
                            <button class="sort-button" data-sort="username" data-order="desc">&#9660;</button>
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Email
                            <button class="sort-button" data-sort="email" data-order="asc">&#9650;</button>
                            <button class="sort-button" data-sort="email" data-order="desc">&#9660;</button>
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Registration Time
                            <button class="sort-button" data-sort="created_at" data-order="asc">&#9650;</button>
                            <button class="sort-button" data-sort="created_at" data-order="desc">&#9660;</button>
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each userList}}
                        <tr class="text-center">
                            <td>
                                <div class="checkbox d-inline-block">
                                    <input type="checkbox" class="checkbox-input" id="checkbox2">
                                    <label for="checkbox2" class="mb-0"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{defaultVal this.avatar_url '/images/avatar_place_holder.jpg'}}" alt="image" class="avatar">
                                    <div>
                                        {{this.username}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{this.first_name}} {{this.last_name}}
                            </td>
                            <td>
                                {{this.email}}
                            </td>
                            <td>
                                {{this.role.name}}
                            </td>
                            <td>
                                {{this.formatted_created_at}}
                            </td>
                            <td>
                                {{#unless this.isCurrentUser}}
                                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal-{{this.id}}">
                                    <i class="fa-solid fa-trash"></i> BAN
                                </button>
                                {{/unless}}
                            </td>
                        </tr>

                        <!-- Modal Delete -->
                        <div class="modal" id="deleteModal-{{this.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Ban</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to ban this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-dark button-delete-modal" data-id="{{this.id}}" data-bs-dismiss="modal">
                                            Ban
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            {{#if (gt pagination.currentPage 1)}}
            <li class="page-item">
                <button class="page-link" data-page="{{subtract pagination.currentPage 1}}">&laquo;</button>
            </li>
            {{/if}}
            {{#each pagination.pages}}
            <li class="page-item {{#if this.active}}active{{/if}}">
                <button class="page-link" data-page="{{this.number}}">{{this.number}}</button>
            </li>
            {{/each}}
            {{#if (lt pagination.currentPage pagination.totalPages)}}
            <li class="page-item">
                <button class="page-link" data-page="{{add pagination.currentPage 1}}">&raquo;</button>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>

<script src="/js/UserList.js"></script>