<link rel="stylesheet" href="/css/dashboard.css">



<div class=" container p-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-transparent card-block card-stretch card-height border-none">
                <div class="card-body p-0 mt-lg-2 mt-0">
                    <h3 class="mb-3">Hi {{user.firstName}}, have a good day!</h3>
                    <p class="mr-4">Your dashboard gives you views of key performance or business process.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                {{!-- <div class="icon iq-icon-box-2 bg-info-light">
                                    <img src="../assets/images/product/1.png" class="img-fluid" alt="image">
                                </div> --}}
                                <div>
                                    <p class="mb-2">Total Revenue</p>
                                    <h4>{{response.totalRevenue}} K</h4>
                                </div>
                            </div>
                            <div class="iq-progress-bar mt-2">
                                <span class="bg-info iq-progress progress-1" data-percent="85"
                                    style="transition: width 2s; width: 85%;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                {{!-- <div class="icon iq-icon-box-2 bg-danger-light">
                                    <img src="../assets/images/product/2.png" class="img-fluid" alt="image">
                                </div> --}}
                                <div>
                                    <p class="mb-2">Total Order</p>
                                    <h4>{{response.totalOrder}}</h4>
                                </div>
                            </div>
                            <div class="iq-progress-bar mt-2">
                                <span class="bg-danger iq-progress progress-1" data-percent="70"
                                    style="transition: width 2s; width: 70%;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                {{!-- <div class="icon iq-icon-box-2 bg-success-light">
                                    <img src="../assets/images/product/3.png" class="img-fluid" alt="image">
                                </div> --}}
                                <div>
                                    <p class="mb-2">Total products</p>
                                    <h4>{{response.totalProduct}}</h4>
                                </div>
                            </div>
                            <div class="iq-progress-bar mt-2">
                                <span class="bg-success iq-progress progress-1" data-percent="75"
                                    style="transition: width 2s; width: 75%;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <row class="mt-2 d-flex">
            <div class="col-lg-12 card">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cardcol-lg-12">
                            <div class="card-stretch">
                                <div class="card">
                                    <div
                                        class="card-body card-stretch d-flex justify-content-between align-items-center">
                                        <h5 class="card-title mb-0">Revenue</h5>
                                        <div class="form-group d-flex justify-content-end mb-0">
                                            <button class="btn btn-primary me-2" id="dayButtonChart">Day</button>
                                            <button class="btn btn-primary me-2" id="weekButtonChart">Week</button>
                                            <button class="btn btn-primary me-2" id="monthButtonChart">Month</button>
                                            <button class="btn btn-primary me-2" id="yearButtonChart">Year</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex ">
                                <div class="col-lg-8 ">
                                    <canvas id="revenueColumnChart" data-revenue="{{revenueData}}" data-labels="{{revenueLabels}}"></canvas>
                                </div>
                                <div class="col-lg-4">
                                    <canvas id="revenuePieChart" data-payment="{{paymentData}}"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </row>
        <div class="col-lg-12 mt-2">
            <div class="card card-block card-stretch card-height">
                <div class="card-stretch">
                    <div class="card">
                        <div class="card-body card-stretch d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Top revenue by product</h5>
                            <div class="form-group d-flex justify-content-end mb-0">
                                <button class="btn btn-primary me-2" id="dayButton">Day</button>
                                <button class="btn btn-primary me-2" id="weekButton">Week</button>
                                <button class="btn btn-primary me-2" id="monthButton">Month</button>
                                <button class="btn btn-primary me-2" id="yearButton">Year</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="table-responsive rounded mb-3">
                            <table class="data-tables table mb-0 tbl-server-info">
                                <thead class="text-uppercase text-center">
                                    <tr>
                                        <th></th>
                                        <th>Product</th>
                                        <th>Revenue</th>
                                        <th>Total sold quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each productList}}
                                    <tr class="text-center">
                                        <td>
                                            <div class="checkbox d-inline-block">
                                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                                <label for="checkbox2" class="mb-0"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="{{this.image_urls.[0]}}" alt="image">
                                                <div>
                                                    <div class="m-2">
                                                        <span class="product-name">{{this.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-uppercase">
                                            <span class="product-brand">{{this.revenue}}</span>
                                        </td>
                                        <td>{{this.total_sold_quantity}}</td>
                                    </tr>

                                    {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="/js/dashboard.js"></script>