<div class="container p-4">


    <div class="card">
        <div class="card-body">
            <div class="card-sales-split">
                <h1>Order ID : {{order.id}}</h1>
                <input type="hidden" id="orderId" value="{{order.id}}">
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h5 class="text-primary">Customer Info</h5>
                    <p class="mb-1"><strong>Email:</strong> {{order.customer.user.email}}</p>
                    <p class="mb-1"><strong>Phone:</strong> {{order.shippingDetails.phone}}</p>
                    <p class="mb-1"><strong>Address:</strong> {{order.shippingDetails.fullAddress}}</p>
                </div>
                <div class="col-md-6">
                    <h5 class="text-primary">Order Info</h5>
                    <p class="mb-1"><strong>Creation time:</strong> {{order.created_at}}</p>
                    <p class="mb-1"><strong>Payment Status:</strong> <span class="text-success"
                            id="paymentStatus">{{order.paymentDetails.status}}</span></p>
                    <p class="mb-1"><strong>Status:</strong> <span class="text-success"
                            id="statusName">{{order.statusName}}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="table-responsive rounded mb-3">
            <table class="data-tables table mb-0 tbl-server-info">
                <thead class="text-uppercase text-center">
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each order.orderItems}}
                    <tr class="text-center">
                        <td>
                            <div class="checkbox d-inline-block">
                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                <label for="checkbox2" class="mb-0"></label>
                            </div>
                        </td>
                        <td style="display: flex;align-items: center;">
                            <img src="{{this.product.image_urls}}" alt="img" class="me-2"
                                style="width:40px;height:40px;">
                            {{this.product.name}}
                        </td>
                        <td>{{this.product_price}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.subtotal}}</td>
                    </tr>
                    {{/each}}
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{order.amount_of_items}}</td>
                        <td>{{order.subtotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="total-order">
                    <ul>
                        <li>
                            <h4>Shipping</h4>
                            <h5>$ {{order.shippingDetails.shipping_fee}}</h5>
                        </li>
                        <li class="total">
                            <h4>Total Price</h4>
                            <h5>$ {{order.total_price}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="total-order">
                    <ul>
                        <li>
                            <h4>Update order status</h4>
                        </li>
                        <li class="total">
                            <select class="form-select" id="order-status-select" name="orderStatus">
                                <option value="">Order status</option>
                                {{#each orderStatusList}}
                                <option value="{{this.value}}" id="statusSelection" {{#if (eq this.value
                                    ../order.status)}}selected{{/if}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12 p-4">
            <a class="btn button-edit me-2" id="updateBtn">Update</a>
            <a class="btn button-delete" href="/orders">Cancel</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="updateStatusModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Confirm Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to update this order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeUpdateModalBtn">
                    Close
                </button>
                <button type="button" class="btn btn-dark button-delete-modal" data-id="{{this.id}}" id="updateModalBtn">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/orderDetail.css">
<script src="/js/orderDetail.js"></script>